body {
    margin: 0;
    padding: 0;
}

.container { 
    border-radius: 10px;
    border: 5px solid;
    border-color: #769294;
    background-color: #769294;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.textview {
    width: 210px;
    margin: 3px;
    height: 40px;
    border-radius: 7px;
    font-size: 20px;
    border: none;
}

.button {
    border-radius: 7px;
     width: 50px;
     height: 50px;
     border: none;
     font-size: 20px;
     cursor: pointer;
    
}

.textview:focus, .button:focus {
    outline: none;
}
